@font-face {
  font-family: "DIN Pro";
  src: url("./font/DINPro.woff2") format("woff2"), url("./font/DINPro.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("./font/DINPro-MediumItalic.woff2") format("woff2"),
    url("./font/DINPro-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("./font/DINPro-Medium.woff2") format("woff2"),
    url("./font/DINPro-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("./font/DINPro-LightItalic.woff2") format("woff2"),
    url("./font/DINPro-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("./font/DINPro-Italic.woff2") format("woff2"),
    url("./font/DINPro-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "DIN Pro";
  src: url("./font/DINPro-Light.woff2") format("woff2"),
    url("./font/DINPro-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
