footer {
  position: relative;
  width: 100%;
  background-color: $secondary;
  .footer-main {
    @include Flex;
    width: 100%;
    max-width: $break-xl;
    margin: auto;
    padding: 72px 2rem;
    border-top: 1px solid $primary;
    border-left: 1px solid $primary;
    border-right: 1px solid $primary;
    @media (max-width: $break-xl) {
      border-left: none;
      border-right: none;
    }
    a {
      text-decoration: underline;
    }
    .btn a {
      text-decoration: none;
    }
    .col {
      width: 25%;
      @media (max-width: $break-l) {
        width: 50%;
        margin: 0 0 50px 0;
      }
      @media (max-width: $break-m) {
        width: 100%;
        text-align: center;
      }
      ul {
        li {
          margin: 0 0 10px 0;
        }
      }
      &.social {
        @media (max-width: $break-m) {
          @include FlexCentered;
        }
        .logo-footer {
          margin: 0 0 25px 0;
          @media (max-width: $break-m) {
            width: 100%;
          }
        }
        .social-links {
          .label {
            margin: 0 0 12px 0;
            @media (max-width: $break-m) {
              width: 100%;
            }
          }
          .links {
            @include Flex;
            justify-content: flex-start;
            @media (max-width: $break-m) {
              justify-content: center;
            }
            .link {
              margin: 0 5px 0 0;
            }
          }
        }
      }
      &.legal {
        ul {
          margin: 0 0 36px 0;
        }
      }
    }
  }
  .footer-bottom {
    width: 100%;
    border-top: 1px solid $primary;
    padding: 20px 0;
    .footer-bottom-inner {
      @include Flex;
      justify-content: space-between;
      width: 100%;
      max-width: $break-xl;
      margin: auto;
      padding: 0 1rem;
      .copyright {
        @include FlexCentered;
        .current-date {
          display: inline-block;
        }
        a {
          margin: 0 0 0 5px;
          text-decoration: underline;
        }
      }
      .payment-options {
        @include FlexCentered;
        .option {
          @include FlexCentered;
          height: 38px;
          min-width: 62px;
        }
      }
      @media (max-width: $break-m) {
        .copyright,
        .payment-options {
          width: 100%;
        }
        .copyright {
          margin: 0 0 15px 0;
        }
      }
    }
  }
}
